
RecordEdits

Define ExpressionThreshold { ExpressionThreshold1 }
Define EntityGenerator { EntityGenerator1 }
Define EntityProcessor { EntityProcessor1 }
Define EntitySink { EntitySink1 }
Define Queue { Queue1  Queue2  Queue3 }
Define Server { Server1  Server2 }
Define SimEntity { SimEntity1 }
Define Resource { Resource1 }
Define ColladaModel { Axis  Grid100x100 }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define View { View1 }

Simulation Description { 'Simulation run control inputs' }

# *** ExpressionThreshold ***

ExpressionThreshold1 OpenCondition { '[Server2].NumberInProgress == 0' }

# *** EntityGenerator ***

EntityGenerator1 NextComponent { Queue1 }
EntityGenerator1 EntitiesPerArrival { 100 }
EntityGenerator1 PrototypeEntity { SimEntity1 }
EntityGenerator1 MaxNumber { 100 }
EntityGenerator1 InitialNumber { 100 }

# *** EntityProcessor ***

EntityProcessor1 NextComponent { EntitySink1 }
EntityProcessor1 WaitQueue { Queue3 }
EntityProcessor1 ResourceList { Resource1 }
EntityProcessor1 ServiceTime { 40  s }

# *** Server ***

Server1 ImmediateThresholdList { ExpressionThreshold1 }
Server1 ReleaseThresholdList {  }
Server1 NextComponent { Queue2 }
Server1 WaitQueue { Queue1 }
Server1 ServiceTime { 10  s }

Server2 ImmediateThresholdList {  }
Server2 NextComponent { Queue3 }
Server2 WaitQueue { Queue2 }
Server2 ServiceTime { 15  s }

# *** GRAPHICS INPUTS ***

Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 128 }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation PresentationMode { FALSE }
Simulation LockWindows { TRUE }
Simulation ShowEntityFlow { TRUE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }
Simulation ModelBuilderPos {  }
Simulation ModelBuilderSize {  }
Simulation OutputViewerPos {  }
Simulation OutputViewerSize {  }
Simulation LogViewerPos {  }
Simulation LogViewerSize {  }

ExpressionThreshold1 Position { 1.5  1.6  0.0  m }

EntityGenerator1 Position { 2.1  -1.1  0.0  m }

EntityProcessor1 Position { 10.0  1.5  0.0  m }

EntitySink1 Position { 12.4  1.3  0.0  m }

Queue1 Position { 3.9  0.2  0.0  m }

Queue2 Position { 6.2  2.6  0.0  m }

Queue3 Position { 8.2  0.6  0.0  m }

Server1 Position { 4.0  1.5  0.0  m }

Server2 Position { 7.2  1.4  0.0  m }

SimEntity1 Position { 0.0  -1.1  0.0  m }
SimEntity1 Alignment { 0.0  0.0  -0.5 }

Resource1 Position { 10.0  3.1  0.0  m }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Model Title' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { 7.785714  1.64292  -9.233634  m }
View1 ViewPosition { 7.785714  1.64292  8.086873  m }
View1 WindowSize { 794  423 }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }
