
RecordEdits

Define DiscreteDistribution { DiscreteDistribution1 }
Define Branch { Branch1 }
Define EntityConveyor { EntityConveyor1 }
Define EntityGenerator { EntityGenerator1 }
Define EntitySink { EntitySink1  EntitySink2 }
Define Queue { Queue1 }
Define Server { Server1 }
Define SimEntity { eixo }
Define ColladaModel { Axis  Grid100x100  table-model }
Define DisplayEntity { DisplayEntity1  XY-Grid  XYZ-Axis }
Define EntityLabel { DisplayEntity1_Label  eixo_Label }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define Text { Text1  Text2  Text3 }
Define View { View1 }

DiscreteDistribution1 UnitType { DimensionlessUnit }
Text1 UnitType { DimensionlessUnit }
Text3 UnitType { DimensionlessUnit }

Simulation Description { 'Simulation run control inputs' }
Simulation PauseCondition { '[EntitySink1].NumberProcessed == 1000' }

# *** DiscreteDistribution ***

DiscreteDistribution1 RandomSeed { 1 }
DiscreteDistribution1 ValueList { 1  2 }
DiscreteDistribution1 ProbabilityList { 0.96  0.04 }

# *** Branch ***

Branch1 NextComponentList { EntityConveyor1  EntitySink2 }
Branch1 Choice { DiscreteDistribution1 }

# *** EntityConveyor ***

EntityConveyor1 NextComponent { EntitySink1 }
EntityConveyor1 TravelTime { 30  min }

# *** EntityGenerator ***

EntityGenerator1 NextComponent { Queue1 }
EntityGenerator1 EntitiesPerArrival { 1500 }
EntityGenerator1 PrototypeEntity { eixo }
EntityGenerator1 MaxNumber { 100 }

# *** Server ***

Server1 NextComponent { Branch1 }
Server1 WaitQueue { Queue1 }
Server1 ServiceTime { 10  min }

# *** GRAPHICS INPUTS ***

Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 32768 }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation ShowEntityFlow { TRUE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }
Simulation ModelBuilderPos { 0  144 }
Simulation ModelBuilderSize { 220  312 }
Simulation InputEditorPos { 221  560 }
Simulation InputEditorSize { 520  208 }
Simulation OutputViewerPos { 658  563 }
Simulation OutputViewerSize { 420  208 }
Simulation LogViewerPos { 153  552 }
Simulation LogViewerSize { 520  208 }

DiscreteDistribution1 Position { 1.5  0.9  0.0  m }

Branch1 Position { 1.4  -0.3  0.0  m }

EntityConveyor1 Points { { 4.3  -0.3  0.0  m } { 9.2  -0.3  0.0  m } }

EntityGenerator1 Position { -4.0  1.1  0.0  m }

EntitySink1 Position { 10.1  -1.2  0.0  m }

EntitySink2 Position { 1.4  -2.1  0.0  m }

Queue1 Position { -2.8  -2.4  0.7  m }
Queue1 MaxPerLine { 10 }
Queue1 MaxRows { 5 }

Server1 Position { -0.7  -0.2  0.0  m }

eixo Position { -4.1  2.4  0.0  m }
eixo Alignment { 0.0  0.0  -0.5 }
eixo Size { 0.2  0.2  0.2  m }
eixo DisplayModel { Cube }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

table-model ColladaFile { table.zip }

# *** DisplayEntity ***

DisplayEntity1 Position { -3.8  -2.1  0.0  m }
DisplayEntity1 Alignment { 0.0  0.0  -0.5 }
DisplayEntity1 Size { 1.307000  0.607000  0.70000  m }
DisplayEntity1 DisplayModel { table-model }

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** EntityLabel ***

DisplayEntity1_Label Position { 0.0  -0.65  0.0  m }
DisplayEntity1_Label Size { 1.9  0.3  1.0  m }
DisplayEntity1_Label RelativeEntity { DisplayEntity1 }
DisplayEntity1_Label Show { FALSE }
DisplayEntity1_Label TargetEntity { DisplayEntity1 }

eixo_Label Position { 0.0  -0.4  0.0  m }
eixo_Label Size { 0.7  0.3  1.0  m }
eixo_Label RelativeEntity { eixo }
eixo_Label Show { FALSE }
eixo_Label TargetEntity { eixo }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Model Title' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** Text ***

Text1 Position { 2.0  -3.3  0.0  m }
Text1 Size { 1.6  0.6  1.0  m }
Text1 Format { 'Sucata: %s' }
Text1 DataSource { [EntitySink2].NumberAdded }

Text2 Position { 8.3  -1.4  0.0  m }
Text2 Size { 1.6  0.6  1.0  m }

Text3 Position { 8.3  -1.6  0.0  m }
Text3 Size { 1.6  0.6  1.0  m }
Text3 DataSource { [EntitySink1].NumberAdded }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { 2.9  -1.3  1.734309  m }
View1 ViewPosition { 4.17088  -13.313215  12.447194  m }
View1 WindowSize { 804  416 }
View1 ShowWindow { TRUE }
View1 Lock2D { FALSE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }
