
RecordEdits

Define EntityGenerator { EntityGenerator1 }
Define EntitySink { EntitySink1 }
Define Queue { Queue1 }
Define Server { Server1 }
Define SimEntity { SimEntity1 }
Define ColladaModel { Axis  Grid100x100 }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define View { View1 }

Simulation Description { 'Simulation run control inputs' }

# *** EntityGenerator ***

EntityGenerator1 NextComponent { Queue1 }
EntityGenerator1 EntitiesPerArrival { 100 }
EntityGenerator1 PrototypeEntity { SimEntity1 }
EntityGenerator1 MaxNumber { 100 }

# *** Server ***

Server1 NextComponent { EntitySink1 }
Server1 WaitQueue { Queue1 }
Server1 ServiceTime { 10  s }

# *** GRAPHICS INPUTS ***

Simulation DisplayedUnits { deg }
Simulation RealTime { FALSE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 0.5 }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation ShowEntityFlow { TRUE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }
Simulation ObjectSelectorPos { 0  449 }
Simulation ObjectSelectorSize { 210  319 }
Simulation InputEditorPos { 220  560 }
Simulation InputEditorSize { 520  208 }
Simulation OutputViewerPos { 604  560 }
Simulation OutputViewerSize { 420  208 }

EntityGenerator1 Position { 2.3  2.2  0.0  m }

EntitySink1 Position { 10.2  1.7  0.0  m }

Queue1 Position { 5.8  0.6  0.0  m }
Queue1 MaxPerLine { 5 }
Queue1 MaxRows { 5 }

Server1 Position { 7.3  0.6  0.0  m }

SimEntity1 Position { 0.6  1.4  0.0  m }
SimEntity1 Alignment { 0.0  0.0  -0.5 }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { TRUE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Show { FALSE }
XYZ-Axis Movable { FALSE }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Model Title' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { 4.251055  5.952181  -0.922976  m }
View1 ViewPosition { 15.945247  -8.49722  9.243651  m }
View1 ShowWindow { TRUE }
View1 Lock2D { FALSE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }
