
RecordEdits

Define ExpressionThreshold { ExpressionThreshold1 }
Define EntityGenerator { EntityGenerator1 }
Define EntityProcessor { EntityProcessor1  EntityProcessor2 }
Define EntitySink { EntitySink1 }
Define Queue { Queue1  Queue2 }
Define SimEntity { SimEntity1 }
Define Resource { Resource1 }
Define ColladaModel { Axis  Grid100x100 }
Define DisplayEntity { XY-Grid  XYZ-Axis }
Define OverlayClock { Clock }
Define OverlayText { Title }
Define View { View1 }

Simulation Description { 'Simulation run control inputs' }
Simulation PauseCondition { '[EntitySink1].NumberProcessed == 100' }

# *** ExpressionThreshold ***

ExpressionThreshold1 OpenCondition { '[EntityProcessor1].NumberProcessed == [EntityProcessor2].NumberProcessed' }

# *** EntityGenerator ***

EntityGenerator1 NextComponent { Queue1 }
EntityGenerator1 EntitiesPerArrival { 100 }
EntityGenerator1 PrototypeEntity { SimEntity1 }
EntityGenerator1 MaxNumber { 100 }

# *** EntityProcessor ***

EntityProcessor1 ImmediateThresholdList { ExpressionThreshold1 }
EntityProcessor1 ReleaseThresholdList {  }
EntityProcessor1 NextComponent { Queue2 }
EntityProcessor1 WaitQueue { Queue1 }
EntityProcessor1 ResourceList { Resource1 }
EntityProcessor1 Capacity {  }
EntityProcessor1 ServiceTime { 10  s }

EntityProcessor2 ImmediateThresholdList {  }
EntityProcessor2 ReleaseThresholdList {  }
EntityProcessor2 NextComponent { EntitySink1 }
EntityProcessor2 WaitQueue { Queue2 }
EntityProcessor2 ResourceList { Resource1 }
EntityProcessor2 ServiceTime { 10  s }

# *** Resource ***

Resource1 Capacity {  }

# *** GRAPHICS INPUTS ***

Simulation RealTime { TRUE }
Simulation SnapToGrid { TRUE }
Simulation RealTimeFactor { 64 }
Simulation ShowLabels { TRUE }
Simulation ShowSubModels { TRUE }
Simulation ShowEntityFlow { TRUE }
Simulation ShowModelBuilder { TRUE }
Simulation ShowObjectSelector { TRUE }
Simulation ShowInputEditor { TRUE }
Simulation ShowOutputViewer { TRUE }
Simulation ShowPropertyViewer { FALSE }
Simulation ShowLogViewer { FALSE }

ExpressionThreshold1 Position { 10.2  2.5  0.0  m }

EntityGenerator1 Position { 5.8  2.6  0.0  m }

EntityProcessor1 Position { 7.6  1.4  0.0  m }

EntityProcessor2 Position { 9.2  1.4  0.0  m }

EntitySink1 Position { 11.2  1.4  0.0  m }

Queue1 Position { 5.8  1.4  0.0  m }
Queue1 MaxPerLine { 5 }
Queue1 MaxRows { 5 }

Queue2 Position { 9.2  -0.4  0.0  m }

SimEntity1 Position { 5.8  3.9  0.0  m }
SimEntity1 Alignment { 0.0  0.0  -0.5 }

Resource1 Position { 8.3  2.7  0.0  m }

# *** ColladaModel ***

Axis ColladaFile { <res>/shapes/axis_text.dae }

Grid100x100 ColladaFile { <res>/shapes/grid100x100.dae }

# *** DisplayEntity ***

XY-Grid Description { 'Grid for the X-Y plane (100 m x 100 m)' }
XY-Grid Size { 100  100  m }
XY-Grid DisplayModel { Grid100x100 }
XY-Grid Show { FALSE }
XY-Grid Movable { FALSE }

XYZ-Axis Description { 'Unit vectors' }
XYZ-Axis Alignment { -0.4393409  -0.4410096  -0.4394292 }
XYZ-Axis Size { 1.125000  1.1568242  1.1266404  m }
XYZ-Axis DisplayModel { Axis }
XYZ-Axis Movable { FALSE }

# *** OverlayClock ***

Clock Description { 'Simulation date and time' }
Clock ScreenPosition { 15  15 }
Clock AlignBottom { TRUE }
Clock TextHeight { 10 }
Clock FontColour { gray20 }
Clock FontStyle { ITALIC }
Clock DateFormat { 'yyyy-MMM-dd HH:mm:ss.SSS' }

# *** OverlayText ***

Title Description { 'Title for the simulation model' }
Title ScreenPosition { 15  15 }
Title Format { 'Model Title' }
Title TextHeight { 18 }
Title FontColour { 150  23  46 }
Title FontStyle { BOLD }

# *** View ***

View1 Description { 'Default view window' }
View1 ViewCenter { 7.8  1.7  -5.968942  m }
View1 ViewPosition { 7.8  1.7  9.776976  m }
View1 ShowWindow { TRUE }
View1 Lock2D { TRUE }
View1 SkyboxImage { <res>/images/sky_map_2048x1024.jpg }
